@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif !important;
  background: linear-gradient(
      -135deg,
      rgba(65, 196, 189, 1) 0%,
      rgba(9, 2, 104, 1) 65%
    )
    no-repeat;
  overflow: scroll;
  min-height: 100vh;
}

.login-img {
  width: 200px;
}

.backPage {
  background-color: #f5f5f5;
  width: 100%;
}

h1,
h3 {
  color: #3f3f3f;
  font-family: Cutive, monospace;
}

.title {
  border-right: 2px solid #3f3f3f;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
}

.typing-animation {
  animation: blinkCursor 0.5s steps(32) infinite normal,
    typing 4s steps(32) 1s normal both;
}

.text {
  font-size: 17px;
}

.button {
  background: linear-gradient(-90deg, #9bcca6, #01a80a);
  color: white !important;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.4);
}

.button:hover {
  background: linear-gradient(-90deg, #85ac8d, #019708);
}

.btn-account {
  margin-left: 80px;
  margin-right: 80px;
}

a {
  color: #3f3f3f !important;
}

a:hover {
  color: #01a80a !important;
}

#arrow2 {
  color: white;
  position: relative;
  bottom: 26px;
  left: 40px;
}

#arrow2 {
  left: 59px;
  bottom: 51px;
}

.fa-eye {
  position: absolute;
  bottom: 21px;
  left: 85%;
}

#i-eye3,
#i-eye4 {
  display: none;
}

#msg-error-regist {
  font-size: 13px;
  color: #ff0000;
  background-color: #fdcfcf;
  display: none;
}

#input-title,
#input-description {
  outline: 0;
}

#input-description {
  resize: none;
}

#input-title::placeholder {
  font-size: 15px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

#input-description::placeholder {
  font-size: 12px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

#button-add-task {
  width: 150px;
  margin-top: 12px;
  border: none;
  background-color: #f5f5f5;
  color: #353535;
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

.fa-regular {
  position: relative;
  right: 12px;
}

.alert-size {
  font-size: 12px !important;
}

.font-size {
  font-size: 14px !important;
}

@media screen and (max-width: 700px) {
  .login-img {
    margin-top: 10px;
    max-width: 100px;
  }
  .btn-account {
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media screen and (max-width: 576px) {
  .login-img {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .title {
    font-size: 17px !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes arrow {
  0% {
    left: 2.5em;
  }
  100% {
    left: 3em;
  }
}

@keyframes arrow2 {
  0% {
    left: 3.5em;
  }
  100% {
    left: 4em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: #3f3f3f;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

@keyframes moveButton {
  from {
    left: 0;
  }
  to {
    left: 15em;
  }
}
